.container {
    padding: 1.25rem;
}

.tabs-container {
    border: 2px solid #ECECEC;
    height: 80vh;
    width: 100%;
}

.tabs-header {
    height: 35px;
    border-bottom: 2px solid #ECECEC;
    width: 100%;
    background: #ECECEC;
    opacity: 0.75;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.tab-title {
    height: 35px;
    border-bottom: 2px solid #ECECEC;
    width: 75%;
    background: #ECECEC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.tab-content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.icon {
    cursor: pointer;
}

.disable-icon {
    cursor: not-allowed;
    opacity: 0.25;
}