.tab {
  cursor: pointer;
  min-width: 175px;
  text-align: center;
}

.active {
  border-bottom: 2px solid #282c34;
  padding: 6px;
}

.tab .close-icon {
  opacity: 0.5;
  visibility: hidden;
  margin-left: 5px;
  padding-bottom: -13px;
  position: relative;
  top: -5px;
}

.tab:hover .close-icon {
  visibility: visible;
}

.btn-group {
  margin-top: 15px;
  display: flex;
  align-items: self-start;
  justify-content: flex-end;
  gap: 15px;
}

.btn {
  border-radius: 2px;
  border: 0;
  height: 25px;
  width: 50px;
  cursor: pointer;
}

.primary {
  background: #282c34;
  color: #61dafb;
}

.title {
  margin: 10px 0px 10px 0px;
}

.info-text {
  font-size: 14px;
  text-align: left;
  padding: 1px;
}
